*
{
	padding: 0px;
	margin: 0px;
}

select 
{
	padding: 5px;
	width: 375px;
}



#right-details 
{
	float: left;
	height: 50px;
}

#right-includes
{
	float: right;
	height: 50px;
}


button 
{
	padding: 5px;
	min-width: 100px;
	margin: auto;
}

#adminonly 
{
width: 1024px;
	margin: 0px auto;
	padding: 15px;
	border: 5px solid #ececec;
	background: white;
}


body
{
	margin: 50px 0px;
	padding: 0px;
	font-family: tahoma;
	font-size: 12px;
	background: #f8f8f8;
}

li
{
	list-style: none;
}

#wrapper
{
	width: 1024px;
	margin: 0px auto;
	padding: 15px;
	border: 5px solid #ececec;
	min-height: 500px;
	background: white;
}

#calendar #title
{
	margin-left: -25px;
	font-size: 18px;
}

#calendar
{
	position: absolute;
	width: 520px;
	height: 315px;
	overflow: hidden;
	margin-top: 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.weeks li
{
	margin-top: 10px;
	float: left;
	width: 68.15px;
	margin-right: 1px;
	text-align: center;
	list-style: none;
	border-bottom: 1px solid #ccc;
}

.days .daynum
{
	list-style: none;
	float: left;
	padding: 10px;
	width: 48px;
	height: 23px;
	text-align: center;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#dedede));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #eeeeee, #dedede);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, ##eeeeee, #dedede);
	/* IE 10 */
	background: -ms-linear-gradient(top, #eeeeee, #dedede);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #eeeeee, #dedede);

	color: #555;
	text-shadow: 1px 1px #fff;
	font-weight: bold;
	font-size: 11px;

	cursor: pointer;
}

.days .daynum i
{
	position: relative;
	top: 3px;
	font-size: 10px;
}

.days .nodays
{
	list-style: none;
	float: left;
	padding: 10px;
	width: 48px;
	height: 23px;
	text-align: center;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	color: #555;
	font-weight: bold;
	font-size: 11px;
	color: #ccc;
	cursor: no-drop;
}

.months
{
	width: 100%;
	float: left;
}

.days li:nth-child(7), .days li:nth-child(14), .days li:nth-child(21), .days li:nth-child(28), .days li:last-child, .days li:nth-child(35)
{
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#right
{
	position: relative;
	margin-left: 505px;
	margin-top: -150px;
	border-left: 1px solid #ccc;
	width: 525px;
	height: 500px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#right span
{
	font-size: 18px;
	position: relative;
	margin-left: 10px;
	padding: 5px 0;
}

#right-content
{
	position: relative;
	top: 250px;
}

#table1 tr td
{
	width: 89px;
}

#table2 tr td
{
	text-align: center;
}

#table2
{
	margin-top: -16px;
	margin-left: 90px;
	width: 140px;
}

#title span
{
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

#prev-next
{
	cursor: pointer;
	position: absolute;
	margin-top: 20px;
	z-index: 999;
	width: 520px;
}

#next
{
	margin-left: 413px;
}

#right button
{
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#table3 tr td
{
	width: 91px;
}


.days .highlight
{
	background: url('../img/gradient_blue.png');
	background-size: 100% 100%;
	color: #fee;
	text-shadow: 1px 1px #111;
}

#NoD
{
	position: absolute;
	margin-top: 350px;
	text-align: center;
}

#right #fancybox
{
	position: absolute;
}

#right #fancybox li
{
	list-style: none;
	float: left;
	padding: 5px;
}

#right #fancybox ul
{
	display: none;
}

#move
{
	position: absolute;
}

#Rat
{
	border: 0px;
}


#inc li
{
	list-style-type: square;
	padding: 1px;
}

#inc h4
{
	position: relative;
	left: -16px;
}

#form-upload
{
	float: left;
}

#form-download
{
	float: right;
}

#form-download a {
	margin-top: 20px;
	padding: 20px;
	text-decoration: none;
	background: #ececec;
}
#form-download a:hover {
	text-decoration: underline;
}

input 
{
	padding: 2px 10px;
}